<div class='bar bar-header bar-calm'>
	<h1 class='title'>My Dream Vault</h1>
</div>
<div style='min-height:10vh; max-height:10vh; min-width:100vw; max-width:100vw;'></div>

<div style='font-size:2em;font-weight:bold;'>
	<login-buttons></login-buttons>
</div>
<div ng-show='!vault.isLoggedIn' class="alert alert-info" role="alert">Login or create an account to access your Vault.</div> 

<div class='publicprivatebuttons'>
	<button class='button button-balanced' ng-click='vault.togglePubPriv(false)'>SHOW UNLOCKED</button>
	<button class='button button-dark' ng-click='vault.togglePubPriv(true)'>SHOW LOCKED</button>
</div>


<unlocked-vault ng-show='!vault.PubPriv_toggle'></unlocked-vault>
<locked-vault ng-show='vault.PubPriv_toggle'></locked-vault>