<form>
<div>The current time is: {{aDream.currentDream.date}}<br/>
	<input type='text' id='currentDream_title_input' ng-model='aDream.currentDream.title' placeholder='Title'/><br/><br/>
	<input type='text' id='currentDream_text_input' ng-model='aDream.currentDream.text' placeholder='Today I dreamed..' style='width:50vw; height:30vh'/><br/><br/>
	<input type="text" value="" ng-model='aDream.currentDream.tags' data-role="tagsinput" />
	<input type='checkbox' ng-model='aDream.currentDream.private' value='checked' />Private?
	<button class='btn btn-success' ng-click='aDream.addDream()'>ADD</button>
	<br/>
	{{aDream.currentDream}}
</div>
</form>