<div class='bar bar-header bar-calm'>
	<h1 class='title'>Dream Vault</h1>
</div>
<div style='min-height:10vh; max-height:10vh; min-width:100vw; max-width:100vw;'></div>
<ul class='list'>
	<li class='item item-divider'>Unlocked Dreams</li>
	<li class='item item-button-right' ng-repeat="dream in vault.unlocked_dreams">
		{{dream.title}}

		<div class='buttons'>
			<button class='button button-balanced button-large' href='/vault/{{dream._id}}'>View</button>
			<button class='button button-assertive button-large' ng-click='vault.deleteDream(dream)'><span class='glyphicon glyphicon-trash'></span></button>
			<button class='button button-calm button-large'><b>DREAMT ON: &npr;</b>{{dream.date}}</button>
		</div>
	</li>
</ul>

<ul class='list'>
	<li class='item item-divider'>Locked Dreams</li>
	<li class='item item-button-right' ng-repeat='dream in vault.locked_dreams'>
		{{dream.title}}
		<button class='button button-dark button-large'>
			<span class='glyphicon glyphicon-cog'></span>
		</button>
		<button class='button button-royal button-large'>
			<b>UNLOCKED ON: &npr;</b>{{dream.timeLock}}
		</button>
	</li>
</ul>