<div class='bar bar-header bar-royal'>
	<button class="button icon ion-arrow-left-a" ui-sref='cloud'></button>
	<h1 class='title' style='font-weight:bold;'>Dream</h1>
</div>
<div style='min-height:10vh; max-height:10vh; min-width:100vw; max-width:100vw;'></div>

<div class="list card">
  <div class="item item-divider">
	<h1><b>{{dream.currentDream.title}}</b></h1>
  </div>
  <div class="item item-text-wrap">
    Dreamt <b><span am-time-ago="dream.currentDream.date"></span></b> by {{dream.currentDream.owner}}
  </div>
  <div class='item item-body' style="min-height:15vh;">
  	{{dream.currentDream.text}}
  </div>
  <div class='item item-divider'>
  	<b>Tags:</b> {{dream.currentDream.tags}}
  </div>
  <div class='item item-divider' ng-if="dream.originalPoster()">
	<div class='item range range-royal'>
		<b>Locked until: &nbsp;</b>
		<input type='date' ng-model='dream.currentDream.timeLock' value='new Date()'>
		<i class='ion-calendar'></i>
		<input type='range' min='0' max='100'>
		<i class='ion-unlocked'></i>
	</div>
    <div class='item item-toggle item-stacked-label'>
		<b>PUBLIC?</b>
		<label class='toggle toggle-royal'>
			<input type='checkbox' ng-model='dream.currentDream.public' value='checked' />
			<div class='track'>
				<div class='handle'></div>
			</div>
		</label>
    </div>
    <div class='item'>
		<button class='button button-royal button-block' ng-click='dream.originalPoster()' style='display:inline-block;width:90%;'>UPDATE DREAM</button>
	    <button class='button button-assertive button-block' ng-click='dream.deleteDream(dream.currentDream)' style='display:inline-block;width:10%;'><span class='glyphicon glyphicon-trash'></span></button>
	</div>
  </div>
</div>
